body {
    background-color: rgb(248, 240, 180);
   
}

.buttons {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    font-size: 30px;
    background-color: rgb(190, 165, 234);
    border-radius: 40px;
    padding: 40px 20px;
    width: 220px;
}